*.pyc
*.swp
.DS_Store

tiles_*
project_dirs.py
2006_general_results.xls
2006_results_ctu.csv
2008_general_results.xls
2008_results_ctu.csv
2010_General_Results_Final.xls
2010_results_ctu.csv
precincts_pvi.csvt

2002_leg
2002_sen
2012_leg
2012_sen
precincts_pvi_sen_2002
precincts_pvi_sen_2012
precincts_pvi_mnleg_060810
precincts_with_ctu_pre

