# #
#
# These constants are pulled in by fabile.py.
# Make sure these match your local file system.
#
# #

# #
# A list of maps to be used when calling deploy_all()
MAPS_LIST = ['redistricting_pvi_house', 'redistricting_pvi_senate']

# #
# Directories for retrieving/storing various files
MAPBOX_PROJECTS_DIRECTORY = '/Users/minnpostproduction/Documents/MapBox/project/'
MAPBOX_EXPORT_DIRECTORY = '/Users/minnpostproduction/Documents/MapBox/export/'
PROJECT_DIRECTORY = '/Users/minnpostproduction/data_projects/redistricting-map-open-seats-2012/'
S3_DIRECTORY_S3CMD = 's3://data.minnpost/maps/leg_districts/'
S3_DIRECTORY = 'data.minnpost/maps/leg_districts/'


