/**
 * CSS for redistricting map.
 */
#controls-div {
	font-size: 1.4em;
}

form#redist_search {
	float: right;
  margin-bottom: 3%;
}

#legend {
	float: left;
	margin-bottom: 10px;
}

.wax-tooltip {
	position:absolute;
	right:10px;
	top:10px;
	padding:10px;
	background-color:#ddd;
	opacity:0.8;
	border-radius: 10px;
	-moz-border-radius: 10px;
	width: 80px;
}

#tooltip_mcdname {
	font-weight: bold;
	font-size: 1.3em;
	margin-bottom: 10px;
}

.tooltip_title {
	font-size: 1.2em;
	margin-bottom: 5px;
	margin-top: 5px;
}

#tooltip_edrpercent {
	font-size: 1.1em;
}

#tooltip_percent-r {
	font-size: 1.0em;
}

#tooltip_percent-d {
	font-size: 1.0em;
}

.legend {
  font-family: sans-serif;
  font-size: 0.8em;
  line-height: 20px;
}

.legend span {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  display: block;
  float: left;
  clear: left;
}

.legend #leg_redistricting_0 { background-color: #B30000; }
.legend #leg_redistricting_1 { background-color: #E34A33; }
.legend #leg_redistricting_2 { background-color: #FC8D59; }
.legend #leg_redistricting_3 { background-color: #FDBB84; }
.legend #leg_redistricting_4 { background-color: #FDD49E; }
.legend #leg_redistricting_5 { background-color: #FFFFFF; }
.legend #leg_redistricting_6 { background-color: #D0D1E6; }
.legend #leg_redistricting_7 { background-color: #A6BDDB; }
.legend #leg_redistricting_8 { background-color: #74A9CF; }
.legend #leg_redistricting_9 { background-color: #2B8CBE; }
.legend #leg_redistricting_10 { background-color: #045A8D; }

.clear {
	clear: both;
}

#map-div,
#table-div {
  width: 50%;
  float: left;
  margin-bottom: 2%;
}

#table-div {
  width: 48%;
  margin-right: 2%;
}

.table-containter {
  margin-bottom: 2.5em;
}

#district-map {
  height: 600px;
  width: 100%;
}

table tr.leaning-dfl,
body table.datatable tr.leaning-dfl {
  background-color: #809FBC;
}
body table.datatable tr.leaning-dfl td.sorting_1 {
  background-color: #A8BDD1;
}
table tr.leaning-r,
body table.datatable tr.leaning-r {
  background-color: #A75859;
}
body table.datatable tr.leaning-r td.sorting_1 {
  background-color: #B9797A;
}

body table.datatable tr {
  cursor: pointer;
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
  color: #666666;
  font-size: 80%;
}